@import './base.css';

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1; /* this pushes the footer down */
}

footer {
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
